.recipe_card {
  padding: 15px;
  border: 1px solid #e9ecf7;

  display: flex;
  flex-direction: column;
  gap: 15px;

  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.publisher {
  display: flex;
  align-items: center;
  gap: 10px;
}

.publisher img {
  width: 40px;
  height: 40px;
  padding: 3px;
  object-fit: cover;
  box-shadow: var(--common-box-shadow);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.recipe_img img {
  width: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.bottom_div {
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom_div .recipe_name {
  font-size: 23px;
  font-weight: 700;
  color: var(--main-color);
}

.bottom_div .save_recipe_btn {
  background: none;
  cursor: pointer;
}

.bottom_div .save_recipe_btn i {
  font-size: 18px;
  color: #f00;
}

.bottom_div .save_recipe_btn i.solid_heart {
  animation: scale_down .3s ease;
  -webkit-animation: scale_down .3s ease;
}

@keyframes scale_down {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  50% {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}