.recipe {
  margin: 20px auto;
  width: calc(100% - 30px);
  max-width: 700px;

  padding: 15px;
  border: 1px solid #e9ecf7;

  display: flex;
  flex-direction: column;
  gap: 15px;

  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.publisher {
  display: flex;
  align-items: center;
  gap: 10px;
}

.publisher img {
  width: 40px;
  height: 40px;
  padding: 3px;
  object-fit: cover;
  box-shadow: var(--common-box-shadow);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.recipeImg img {
  width: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

h3 {
  font-weight: 700;
  color: var(--main-color);
}

.recipe_name {
  font-size: 23px;
}

ol {
  margin: 5px 0 0 35px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

ol li {
  font-size: 14px;
}

.cooking_time p {
  margin-top: 5px;
  font-size: 14px;
}

.save_recipe_btn {
  padding: 5px 20px;
  color: var(--white);
  background: var(--main-color);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  box-shadow: var(--common-box-shadow);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}