.recipe {
  margin: 20px auto;
  width: calc(100% - 30px);
  max-width: 650px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.owner {
  display: flex;
  align-items: center;
  gap: 10px;
}

.owner img {
  width: 40px;
  height: 40px;
  padding: 2px;
  object-fit: cover;
  box-shadow: var(--common-box-shadow);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.recipeImg {
  width: 100%;
}

h2.recipe_title {
  font-size: 22px;
  font-weight: 700;
  color: var(--main-color);
}

h3 {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}

h3>i {
  color: #00f;
}

ol {
  margin: 5px 0 0 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

ol li {
  font-size: 14px;
}

.cooking_time p {
  margin: 5px 0 0 25px;
  font-size: 14px;
}

.save_recipe_btn {
  width: 100%;
  margin: auto;
  background: none;
  cursor: pointer;
}

.not_found,
.spinner_container{
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
}