.create_recipe {
  margin: auto;
  padding: 20px 15px;
  width: 100%;
  max-width: 600px;
}

.create_recipe h2 {
  color: var(--main-color);
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.create_recipe form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.create_recipe form> :is(input, div, button) {
  outline: none;
  background: none;

  caret-color: var(--main-color);
  padding: 12px 12px 12px 15px;
  border: 1px solid var(--main-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.create_recipe form>div>input {
  flex: 1;
}

.create_recipe form>div :is(label, button) {
  width: 22px !important;
  height: 22px !important;
}

.create_recipe form>div :is(label, button) i {
  font-size: 10px;
}

.create_recipe form>div :is(label, button):hover i {
  color: #00f;
}

.create_recipe form>ol {
  display: flex;
  flex-direction: column;
  gap: 8px;
  
  margin: 0;
  padding: 14px;
  padding-left: 35px;
  border: 1px solid var(--light-grayish);

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

.create_recipe form>ol li::marker {
  font-size: 12px;
}

.create_recipe form>ol>li>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.create_recipe form>ol li :is(span, i) {
  flex: 1;
  word-break: break-all;
  font-size: 12px;
}

.create_recipe form>ol li button {
  width: 20px;
  height: 20px;

  cursor: pointer;
  background: var(--light-grayish);

  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

input[name="recipeImgFile"] {
  display: none;
}

.selected_img img {
  width: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.create_recipe form>button {
  margin: auto;
  cursor: pointer;
}