.user_picture {
  position: relative;
}

.user_picture img {
  width: 150px;
  height: 150px;
  padding: 3px;
  object-fit: cover;
  background: var(--white);
  box-shadow: var(--common-box-shadow);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.user_picture label {
  width: 25px !important;
  height: 25px !important;
  position: absolute;
  bottom: 20px;
  right: 8px;
}

.user_picture label i {
  font-size: 10px;
}

.user_picture label:hover i {
  color: #00f;
}

.user_picture input[type="file"] {
  display: none;
}