.footer{
  min-height: 80px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer div{
  display: flex;
  gap: 5px;
}

.footer div :is(a, span){
  font-size: 14px;
}

.footer div a{
  text-decoration: underline;
}