.first_req_loading_msg {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #f5c6cb;
  text-align: center;
  color: #721c24;
  background-color: #f8d7da;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 10000;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.first_req_loading_msg p {
  margin: 10px 0;
}

.first_req_loading_msg p:nth-child(2) {
  font-size: 2em;
  font-weight: bold;
  color: #c0392b;
}
